/* Black Han Sans */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* Do Hyeon */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.black-han-sans-regular {
    font-family: "Black Han Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  .do-hyeon-regular {
    font-family: "Do Hyeon", serif;
    font-weight: 400;
    font-style: normal;
  }
  